body {
    padding: 10%;
    text-align: center;
}
form {
    display: inline-block;
    text-align: left;
}
p {
    margin: auto;
}

.login-form {
    max-width: 300px;
}
.login-form-forgot {
    float: right;
}
.ant-col-rtl .login-form-forgot {
    float: left;
}
.login-form-button {
    width: 100%;
}